$background: white;
$text: black;
$button: #000;
$border: #000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

body {
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  color: $text;
}

.roundyCorners {
  border-radius: 20px;
}

#wrapper {
  margin: 0 auto;
  max-width: 900px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

#title {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 0 auto;
  color: $text;
  font-size: 4rem;
  font-weight: lighter;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  border-radius: 30px;
  padding: 0px 20px;
  position: relative;
  span {
    font-size: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
}

button {
  font-size: 2rem;
  border: 0px;
  background-color: rgba(0,0,0,0);
}

#counters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  span, button {
    margin: 10px;
    color: $button;
  }
  span {

  }
  button {
    color: $border;
    cursor: pointer;
  }
}

#breakTime, #workTime {
  font-size: 2rem;
}

#break, #work {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 20px;
}

#timerContainer {
  cursor: pointer;
  border: 8px solid $border;
  border-top: 8px solid $border;
  border-bottom: 8px solid $border;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  transition: all .2s;
  &:hover {
    border-left: 2px solid $border;
    border-right: 2px solid $border;
  }
}

#timerCircle {
  background: radial-gradient(ellipse at center, $background 1%, red 100%);
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
  h3 {
    font-family: Lobster;
    font-weight: lighter;
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
    margin-top: 12%;
    text-align: center;
  }
  #timer {
    cursor: pointer;
    margin-top: 10%;
    flex: 1;
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-size: 5.5rem;
  }
}

#controls {
  display: flex;
  flex-direction: column;
  button {
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;

  }
  #start {
    font-family: Lobster;
    font-weight: lighter;
    background-color: $border;
    border: 5px solid $background;
    transition: all .3s;
    color: $background;
    &:hover {
      background: $background;
      color: $text;
      border: 5px solid $text;
    }
  }
}
